<div class="flex align-items-center justify-content-between">
    <div class="col-6 bg-blue-400 h-screen"></div>

    <div class="col-6 flex flex-column align-items-center justify-content-center h-screen gap-4">
        <div class="text-xl font-semibold">Welcome to NeoEdge</div>

        <div class="text-base font-medium">Otp has been sent to your registered mobile number</div>

        <form [formGroup]="otpForm.otpControllers" (ngSubmit)="verifyOtp()"
            class="w-full flex flex-column align-items-center justify-content-center px-4 gap-3">
            <p-inputOtp formControlName="otp" [integerOnly]="true" [length]="6" />

            <div class="flex align-items-center gap-3">
                <button pButton pRipple label="Submit" class="p-button-success w-fit"
                    [disabled]="otpForm.otpControllers.invalid">
                </button>

                @if(isLoading){
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                }
            </div>
        </form>
    </div>
</div>