<div class="flex align-items-center justify-content-between">
    <div class="col-6 bg-blue-400 h-screen"></div>

    <div class="col-6 flex flex-column align-items-center justify-content-center h-screen gap-4">
        <div class="text-xl font-semibold">Welcome to NeoEdge</div>
        <div>Don't have Account! <span class="text-blue-500 hover:text-blue-700 cursor-pointer"
                routerLink="/signup">Signup here</span>
        </div>
 
        <form [formGroup]="NewLoginFormGroup.loginForm" (ngSubmit)="loginHere()"
            class="w-full flex flex-column px-4 gap-3">
            <p-floatLabel>
                <input pInputText id="username" formControlName="username" class="w-full" minlength="10" maxlength="10"
                    pKeyFilter="int" />
                <label for="username">Username</label>
            </p-floatLabel>
            <app-error-message [control]="NewLoginFormGroup.loginForm.controls['username']"></app-error-message>

            <p-floatLabel>
                <input pInputText type="password" id="password" formControlName="password" class="w-full" />
                <label for="password">Password</label>
            </p-floatLabel>
            <app-error-message [control]="NewLoginFormGroup.loginForm.controls['password']"></app-error-message>

            <div class="w-full flex align-items-center justify-content-between">
                <div class="flex align-items-center gap-2">
                    <p-checkbox formControlName="rememberme" value="true" inputId="rememberme" />
                    <label for="rememberme">Remember me</label>
                </div>
                <div class="text-blue-500 hover:text-blue-700 cursor-pointer">Forgot Password</div>
            </div>

            <div class="flex align-items-center gap-3">
                <button pButton pRipple label="Signup" class="p-button-success w-full" [disabled]="NewLoginFormGroup.loginForm.invalid">
                </button>

                @if(isLoading){
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                }
            </div>
        </form>
    </div>
</div>

<p-toast></p-toast>